!.gitignore
*~
!/Utilidades
!/Usuarios_Objetos
!/Usuarios_DB
!/UsuariosAPI
!*.cs
/packages
/UsuariosAPI.Tests
/Utilidades/bin
/Utilidades/obj
/Utilidades/Properties
/Usuarios_Objetos/bin
/Usuarios_Objetos/obj
/Usuarios_Objetos/Properties
/Usuarios_DB/bin
/Usuarios_DB/obj
/Usuarios_DB/Properties
/UsuariosAPI/bin
/UsuariosAPI/obj
/UsuariosAPI/Properties
/UsuariosAPI/Scripts
/UsuariosAPI/Images
/UsuariosAPI/Content
AssemblyInfo.cs
*.txt
!pm.txt
*.png
*.ico
*.asax
*.tt
*.edmx
*.diagram
*.cache
*.csdl
*.msl
*.ssdl
*.dll
*.pdb
*.csproj
*.user
*.suo
*.sln
*.xml